html, body {
    height: 98%;
    width: 98%;
    text-align: center;
}

.puzzle, .puzzle_form{
}
.puzzle_row{
}
.puzzle_cell{
    border: solid 1px black;
    width: 20px;
    height: 20px;
    text-align: center;
}
.spacer {
    display: inline-block;
    width: 10%;
}
#submitted, #solved {
    text-align: center;
    display: inline-block;
    width: 35%;
}
#submitted{
    
}
#solved {
    
}